#casual-data-app {
    width: 900px;
    margin: 0 auto;

    #header {

        margin: 20px 0 5px 0;
        overflow: hidden;

        .logo {
            float: left;
            font-size: 30px;
            line-height: 30px;
            padding: 10px;
        }
        .menu-bar {
            .menu-item {
                float: right;
            }
        }
    }

    #nav {
        padding: 15px;
        float: left;
    }

    #content {
        padding: 10px;
    }
}

@import 'projects';